/*override defaults*/
body {
    font-size: 1.0em;
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.7em;
}

label {
    font-size: 1.4em;
}

/*images*/
.resized-image-35 {
	width: 35%;
	padding-bottom: .5em;
	margin-left: -0.9em;
}

.resized-image {
	width: 100%;
	padding-bottom: .5em;
	padding-top: 2em;
}

/*banner*/
.banner-heading {
	font-size: 3.1em;
	font-weight: bolder;
	padding-left: .2em;
}

.banner {
	padding-left: 1.5em;
	padding-top: .4em;
	padding-bottom: .4em;
	margin-top: .5em;
	background-color: #c8102e;
	color: white;
	border-radius: .4em;
}

.banner-text {
	font-size: 1.8em;
	text-align: right;
 	padding-right: 1.5em;
 }

/*tables*/
td, th  {
    font-size: 1.4em ;
}

table {
    width: 100%;
}

th.table-date-time-column {
    width: 20%; !important;
}

th.table-preacher-column {
    width: 15%; !important;
}

th.table-standard-column {
    width: 10%; !important;
}

th.table-notes-column {
    width: 35%; !important;
}

th.table-date-column, #header-date {
    width: 10%; !important;
}

th.table-time-column, #header-time {
    width: 10%; !important;
}

th.table-location-column, #header-location {
    width: 22%; !important;
}

th.table-notes-column2, #header-details {
    width: 58%; !important;
}

/*footer*/
.footer-link {
    color:#ccffff; !important;
    text-decoration:underline; !important;
}

a.footer-link:focus, a.footer-link:hover {
    color:#ffffcc; !important;
    text-decoration:underline; !important;
    font-weight:bolder; !important;
}

.copyright-text {
    font-size: 0.8em;
}

/*nav*/
.navbar-nav>li>a {
    color: #333333;
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
    color: black;
}

.nav-border-1 {
    border-bottom: thick solid #c8102e;
}

/*accordion*/
.panel-heading {
    border: thin solid #c8102e !important;
    color: black !important;
    cursor: pointer !important;
    background-color: lightgrey !important;
}

.panel-heading:hover, .panel-heading:active {
    background-color: #c8102e !important;
    color: white !important;
    cursor: pointer !important;
}

/*font*/
.ssmcc-text {
    font-size: 1.4em;
}

.general-text {
    font-size: 1.6em;
}

.search-form {
	float: right;
	padding-top: 1.2em;
	margin-bottom: -1em;
	margin-right: -1em;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

/*position*/

.centred {
    text-align: center;
}

.padded {
    padding-top: 1em;
    padding-bottom: 1em;
}

.indented {
    margin-left: 2em;
    margin-right: 2em;
}

.indented-h2 {
    margin-left: 1.05em;
}

.space-above {
    margin-top: 2em;
}

.footer {
    margin-top: 5em;
}

/*maps*/
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.btn {
	background-color: #10c8aa;
	color: black;
	border: thin solid #c8102e;
}

.form-control {
	border: thin solid #c8102e;
}

.separator {
	border-bottom: medium solid #c8102e;
	padding-top:.5em;
	padding-bottom: .5em;
}


